.interactiveMap{background:#d9d9d9!important;}
.osmTiles image{filter:grayscale(100%) saturate(0%) brightness(1.08) contrast(.88);opacity:.82!important;}
.map{background-color:#dddddd!important;background-image:none!important;}
